backlash==0.3.1
certifi==2019.11.28
chardet==3.0.4
confusable-homoglyphs==3.2.0
crank==0.8.1
Django==2.2.27
django-registration==3.1
django-registration-redux==2.2
gearbox==0.2.0
hupper==1.10.2
idna==2.10
MarkupSafe==1.1.1
PasteDeploy==2.1.0
Pillow==7.0.0
Pygments==2.6.1
pytz==2019.3
repoze.lru==0.7
requests==2.24.0
sqlparse==0.3.0
Tempita==0.5.2
tg.devtools==2.4.3
tgext.debugbar==0.5.0
TurboGears2==2.4.3
urllib3==1.25.10
WebOb==1.8.6
